In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies= movies.merge(credits, on='title')

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
movies.shape

(4809, 23)

We will create tag based on relevent features. Like genres play a big role, to get similiarity of two users. Budget is not as good for this purpose. lets say i liked Inception(high budget movie) but i need not like other high budget movie like DC movies. based on this situation lest filterout the relevent features to make tag

In [8]:
# genres
# id        -- Will be usefull to fetch posters of movie
# keywords
# title
# overview
# cast

movies = movies[['movie_id', 'title', 'overview','genres','keywords','cast']]

In [9]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."

In [10]:
# missing data
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
dtype: int64

In [11]:
movies.dropna(inplace=True)

In [12]:
movies.duplicated().sum()

0

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
# fetching genres in list format form this dictonary format

def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [15]:
movies['genres'] = movies['genres'].apply(convert)

In [16]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."

In [17]:
movies['keywords'] =movies['keywords'].apply(convert)

In [18]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."

In [19]:
movies['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [20]:
def convert3(obj):
    l=[]
    c=0
    for i in ast.literal_eval(obj):
        if c!=3:
            l.append(i['name'])
            c+=1
        else:
            break
    return l

In [21]:
movies['cast']=movies['cast'].apply(convert3)

In [22]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]"

In [23]:
# converting overview sting column to list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [24]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]"

In [25]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x] )
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x] )
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x] )

In [26]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]"

In [27]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']

In [28]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[Captain, Barbossa,, long, believed, to, be, d..."

In [29]:
new_df = movies[['movie_id','title','tags']]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [30]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\Deepraj Arya\AppData\Local\Temp\ipykernel_15316\684433085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))

In [31]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [32]:
# convert in lowwer case
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\Deepraj Arya\AppData\Local\Temp\ipykernel_15316\2209828885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [33]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [35]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [36]:
vectors.shape

(4806, 5000)

In [37]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
# applying stem to convert this string : [ love, loving, loved]
# to this : [love, love, love]

In [39]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [40]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [41]:
new_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
similarity = cosine_similarity(vectors)

In [62]:
sorted(list(enumerate(similarity[0])), reverse=True,key=lambda x:x[1])

[(0, 0.9999999999999998),
 (539, 0.2537477434955704),
 (1194, 0.25112360116696136),
 (507, 0.24609055357847553),
 (1216, 0.24260844762468367),
 (260, 0.24012009007506568),
 (582, 0.2372894989381248),
 (1444, 0.2372894989381248),
 (1204, 0.23692415692169538),
 (1920, 0.23394386020951635),
 (3730, 0.2324952774876386),
 (74, 0.21815377450367385),
 (3608, 0.21775177815467112),
 (322, 0.21621621621621623),
 (83, 0.21582051197002577),
 (61, 0.2152488010002526),
 (4192, 0.2152488010002526),
 (2333, 0.21356054904431226),
 (47, 0.21049133398705727),
 (495, 0.21029989116983447),
 (2971, 0.2092457497388747),
 (2409, 0.20795009796401454),
 (942, 0.20668850837512243),
 (972, 0.20668850837512243),
 (1329, 0.2056773510573183),
 (466, 0.20567735105731827),
 (973, 0.20343336780168372),
 (2204, 0.20032733246124987),
 (151, 0.19936305570722498),
 (1201, 0.19727878476642874),
 (1275, 0.1934477640657483),
 (2786, 0.1934477640657483),
 (4048, 0.1926263261127128),
 (3162, 0.19184045508446734),
 (150, 0.19101436199010396),
 (2999, 0.18983159915049982),
 (4405, 0.18983159915049982),
 (3538, 0.1891891891891892),
 (1321, 0.18857857160117855),
 (3327, 0.18857857160117855),
 (305, 0.18641092980036),
 (1537, 0.18427434427242972),
 (27, 0.18416370220645234),
 (461, 0.18380365552345193),
 (220, 0.18316875326179907),
 (931, 0.18316875326179907),
 (300, 0.18195633571851272),
 (36, 0.17972365808708385),
 (1071, 0.17972365808708385),
 (373, 0.17937400083354382),
 (301, 0.17812181099872781),
 (4, 0.17757120130114434),
 (184, 0.17757120130114434),
 (46, 0.1743714581157289),
 (7, 0.17155007848855516),
 (1831, 0.17155007848855516),
 (581, 0.17139779254776524),
 (2731, 0.17139779254776524),
 (149, 0.16979054399120352),
 (208, 0.16979054399120352),
 (67, 0.16916516233038026),
 (1344, 0.16916516233038026),
 (661, 0.16702953813186466),
 (838, 0.16569860426698665),
 (108, 0.1643989873053573),
 (2496, 0.1643989873053573),
 (26, 0.16439898730535726),
 (1808, 0.16439898730535726),
 (94, 0.16120647005479025),
 (52, 0.1600142241187995),
 (4010, 0.15949044456578),
 (91, 0.15819299929208316),
 (2515, 0.15819299929208316),
 (1396, 0.15807356326200073),
 (1297, 0.15794943794779692),
 (1383, 0.15794943794779692),
 (4336, 0.15794943794779692),
 (1965, 0.15660307954993902),
 (31, 0.1553424415003),
 (577, 0.1553424415003),
 (168, 0.15404884978892902),
 (3354, 0.1526406277181659),
 (311, 0.1522038868295523),
 (3628, 0.15007505629691606),
 (158, 0.1487044791289829),
 (502, 0.1487044791289829),
 (1355, 0.1487044791289829),
 (111, 0.14763464883937316),
 (1178, 0.14763464883937316),
 (2169, 0.14763464883937316),
 (172, 0.14704292441876154),
 (490, 0.14704292441876154),
 (17, 0.1461508458653816),
 (1938, 0.1454358496691159),
 (41, 0.1438803413133505),
 (422, 0.14349920066683505),
 (1488, 0.14349920066683505),
 (332, 0.14309095175803563),
 (568, 0.1430909517580356),
 (84, 0.14165281524036175),
 (369, 0.14097096860865022),
 (557, 0.14097096860865022),
 (2686, 0.14097096860865022),
 (56, 0.14019992744655632),
 (249, 0.14019992744655632),
 (505, 0.14019992744655632),
 (3999, 0.14019992744655632),
 (1322, 0.13949716649258312),
 (1220, 0.1389425035941821),
 (487, 0.1371182340382122),
 (1327, 0.1371182340382122),
 (2584, 0.1371182340382122),
 (187, 0.13699915608779772),
 (413, 0.13699915608779772),
 (1015, 0.13699915608779772),
 (1945, 0.13699915608779772),
 (1673, 0.13678822577626598),
 (2133, 0.13678822577626598),
 (4348, 0.13678822577626598),
 (2873, 0.13549162565314346),
 (3409, 0.13513513513513514),
 (342, 0.13469012250470785),
 (1158, 0.1342312110428049),
 (2620, 0.1342312110428049),
 (4490, 0.1342312110428049),
 (3622, 0.13334518676566626),
 (127, 0.13288211940534983),
 (2480, 0.13181243254912406),
 (754, 0.1316245316231641),
 (1037, 0.1316245316231641),
 (1479, 0.1316245316231641),
 (68, 0.13151918984428584),
 (134, 0.13151918984428584),
 (368, 0.13151918984428584),
 (2970, 0.13151918984428584),
 (595, 0.12996881122750908),
 (740, 0.12996881122750908),
 (3675, 0.12996881122750908),
 (1002, 0.12951986753290365),
 (483, 0.1289651760438322),
 (1047, 0.1289651760438322),
 (1096, 0.1289651760438322),
 (2378, 0.1289651760438322),
 (3376, 0.1289651760438322),
 (2323, 0.12734290799340264),
 (529, 0.12683657235796025),
 (778, 0.12683657235796025),
 (1299, 0.12683657235796025),
 (1617, 0.12683657235796025),
 (1658, 0.12655439943366653),
 (1747, 0.12655439943366653),
 (278, 0.12535305264097507),
 (420, 0.12535305264097507),
 (1741, 0.1252721535988985),
 (275, 0.12427395320024),
 (939, 0.12427395320024),
 (1833, 0.12427395320024),
 (4673, 0.12427395320024),
 (95, 0.12392039927415242),
 (2713, 0.12392039927415242),
 (3309, 0.12392039927415242),
 (1575, 0.12329924047901797),
 (1715, 0.12329924047901797),
 (3218, 0.12329924047901797),
 (228, 0.12253577034896797),
 (2547, 0.12253577034896797),
 (28, 0.1221125021745327),
 (1274, 0.1221125021745327),
 (2868, 0.1221125021745327),
 (549, 0.12119654139092992),
 (432, 0.1211965413909299),
 (50, 0.12006004503753284),
 (72, 0.12006004503753284),
 (579, 0.12006004503753284),
 (1982, 0.12006004503753284),
 (2075, 0.12006004503753284),
 (454, 0.11990028442779209),
 (1277, 0.11990028442779209),
 (1512, 0.11990028442779209),
 (624, 0.11961783342433499),
 (653, 0.11961783342433499),
 (238, 0.11874787399915188),
 (123, 0.1186447494690624),
 (3407, 0.1186447494690624),
 (232, 0.11810771907149853),
 (859, 0.11810771907149853),
 (3147, 0.11789662378377888),
 (692, 0.11742784807525519),
 (808, 0.1162476387438193),
 (3721, 0.1162476387438193),
 (5, 0.11624763874381927),
 (10, 0.11624763874381927),
 (166, 0.11624763874381927),
 (169, 0.11624763874381927),
 (294, 0.11624763874381927),
 (687, 0.11624763874381927),
 (1616, 0.11624763874381927),
 (3008, 0.11624763874381927),
 (3630, 0.11624763874381927),
 (1574, 0.11544867643260674),
 (87, 0.1144727614064285),
 (508, 0.1144727614064285),
 (1031, 0.1144727614064285),
 (2583, 0.1144727614064285),
 (81, 0.11389895949029986),
 (627, 0.11314714296070713),
 (1373, 0.11314714296070713),
 (2259, 0.11314714296070713),
 (4000, 0.11314714296070713),
 (4018, 0.11314714296070713),
 (199, 0.11290968804428622),
 (126, 0.11277677488692017),
 (1195, 0.11277677488692017),
 (2072, 0.11277677488692017),
 (4079, 0.11277677488692017),
 (777, 0.11185934253567072),
 (14, 0.11115400287534567),
 (854, 0.11115400287534567),
 (900, 0.11115400287534567),
 (2013, 0.11115400287534567),
 (2450, 0.11115400287534567),
 (3498, 0.11115400287534567),
 (2106, 0.11083777463036817),
 (141, 0.11028219331407116),
 (1524, 0.11028219331407116),
 (1721, 0.11028219331407116),
 (2634, 0.11028219331407116),
 (4135, 0.11028219331407116),
 (4203, 0.11028219331407116),
 (4331, 0.11028219331407116),
 (18, 0.1098436937909367),
 (102, 0.1098436937909367),
 (1019, 0.1098436937909367),
 (1497, 0.1098436937909367),
 (2439, 0.1098436937909367),
 (131, 0.10959932487023819),
 (312, 0.10959932487023819),
 (513, 0.10959932487023819),
 (1082, 0.10959932487023819),
 (1294, 0.10959932487023819),
 (3340, 0.10959932487023819),
 (3620, 0.10959932487023819),
 (4097, 0.10959932487023819),
 (2760, 0.10887588907733556),
 (174, 0.10810810810810811),
 (266, 0.10810810810810811),
 (330, 0.10810810810810811),
 (2181, 0.10810810810810811),
 (403, 0.10793322294408637),
 (1727, 0.1076244005001263),
 (3055, 0.1076244005001263),
 (3781, 0.1076244005001263),
 (773, 0.10762440050012628),
 (1156, 0.10762440050012628),
 (2521, 0.10762440050012628),
 (2562, 0.10762440050012628),
 (2762, 0.10762440050012628),
 (3954, 0.10762440050012628),
 (295, 0.106676149412533),
 (535, 0.106676149412533),
 (643, 0.106676149412533),
 (4230, 0.106676149412533),
 (139, 0.1061190899945022),
 (182, 0.10529962529853128),
 (334, 0.10529962529853128),
 (988, 0.10529962529853128),
 (3102, 0.10529962529853128),
 (4545, 0.10524566699352861),
 (105, 0.10514994558491725),
 (233, 0.10514994558491725),
 (325, 0.10514994558491725),
 (2456, 0.10514994558491725),
 (3663, 0.10514994558491725),
 (3839, 0.10514994558491725),
 (4198, 0.10514994558491725),
 (4623, 0.10514994558491725),
 (157, 0.10514994558491723),
 (239, 0.10439346133241541),
 (129, 0.10397504898200727),
 (1056, 0.10397504898200727),
 (1109, 0.10397504898200727),
 (3783, 0.10397504898200727),
 (4045, 0.10397504898200727),
 (85, 0.10340217933878712),
 (263, 0.10283867552865915),
 (33, 0.10283867552865913),
 (148, 0.10283867552865913),
 (476, 0.10283867552865913),
 (715, 0.10283867552865913),
 (935, 0.10283867552865913),
 (1280, 0.10283867552865913),
 (1301, 0.10283867552865913),
 (1306, 0.10283867552865913),
 (1501, 0.10283867552865913),
 (1589, 0.10283867552865913),
 (2660, 0.10283867552865913),
 (510, 0.10269923319261937),
 (898, 0.10269923319261937),
 (1086, 0.10269923319261937),
 (2284, 0.10269923319261937),
 (3443, 0.10269923319261937),
 (3464, 0.10269923319261937),
 (307, 0.1017387650221051),
 (279, 0.10146925788636821),
 (473, 0.10146925788636821),
 (1233, 0.10146925788636821),
 (1273, 0.10146925788636821),
 (35, 0.10067340828210367),
 (389, 0.10067340828210367),
 (400, 0.10067340828210367),
 (564, 0.10067340828210367),
 (660, 0.10067340828210367),
 (781, 0.10067340828210367),
 (1027, 0.10067340828210367),
 (1077, 0.10067340828210367),
 (1942, 0.10067340828210367),
 (2661, 0.10067340828210367),
 (4256, 0.10067340828210367),
 (270, 0.10028244211278005),
 (371, 0.10028244211278005),
 (412, 0.10028244211278005),
 (813, 0.10028244211278005),
 (870, 0.10028244211278005),
 (1202, 0.10028244211278005),
 (1439, 0.10028244211278005),
 (410, 0.09913631941932194),
 (933, 0.09913631941932194),
 (1276, 0.09913631941932194),
 (1823, 0.09913631941932194),
 (1846, 0.09913631941932194),
 (2003, 0.09913631941932194),
 (292, 0.09863939238321438),
 (530, 0.09863939238321438),
 (920, 0.09863939238321438),
 (2651, 0.09863939238321438),
 (3093, 0.09863939238321438),
 (3736, 0.09863939238321438),
 (243, 0.09802861627917438),
 (785, 0.09755285137982107),
 (1089, 0.09755285137982107),
 (362, 0.09672388203287416),
 (791, 0.09672388203287416),
 (1474, 0.09672388203287416),
 (1686, 0.09672388203287416),
 (1756, 0.09672388203287416),
 (2093, 0.09672388203287416),
 (2652, 0.09672388203287416),
 (589, 0.09592022754223367),
 (1357, 0.09592022754223367),
 (2596, 0.09592022754223367),
 (43, 0.09491579957524991),
 (618, 0.09491579957524991),
 (2796, 0.09491579957524991),
 (12, 0.0949157995752499),
 (23, 0.0949157995752499),
 (122, 0.0949157995752499),
 (142, 0.0949157995752499),
 (236, 0.0949157995752499),
 (349, 0.0949157995752499),
 (511, 0.0949157995752499),
 (1408, 0.0949157995752499),
 (2396, 0.0949157995752499),
 (1418, 0.09394227846020416),
 (1924, 0.09394227846020416),
 (160, 0.09367501681349609),
 (206, 0.09367501681349609),
 (922, 0.09320546490018),
 (960, 0.09320546490018),
 (2817, 0.09320546490018),
 (2840, 0.09320546490018),
 (479, 0.09307259888124249),
 (596, 0.09299811099505542),
 (1278, 0.09299811099505542),
 (1832, 0.09299811099505542),
 (2488, 0.09299811099505542),
 (799, 0.09248165577087424),
 (1496, 0.09208185110322616),
 (691, 0.09158437663089954),
 (3428, 0.09158437663089954),
 (21, 0.09158437663089952),
 (112, 0.09158437663089952),
 (227, 0.09158437663089952),
 (242, 0.09158437663089952),
 (794, 0.09158437663089952),
 (901, 0.09158437663089952),
 (1249, 0.09158437663089952),
 (1523, 0.09158437663089952),
 (3449, 0.09158437663089952),
 (4468, 0.09158437663089952),
 (2339, 0.09119215051751065),
 (2388, 0.09119215051751065),
 (2856, 0.09119215051751065),
 (4353, 0.09119215051751065),
 (4502, 0.09119215051751065),
 (4516, 0.09119215051751065),
 (4654, 0.09119215051751065),
 (2448, 0.09077415526644964),
 (363, 0.09032775043542898),
 (541, 0.09032775043542898),
 (75, 0.09004503377814962),
 (164, 0.09004503377814962),
 (306, 0.09004503377814962),
 (315, 0.09004503377814962),
 (626, 0.09004503377814962),
 (775, 0.09004503377814962),
 (980, 0.09004503377814962),
 (1004, 0.09004503377814962),
 (1378, 0.09004503377814962),
 (1700, 0.09004503377814962),
 (1790, 0.09004503377814962),
 (3537, 0.09004503377814962),
 (3816, 0.09004503377814962),
 (4626, 0.09004503377814962),
 (32, 0.08948747402853657),
 (45, 0.08948747402853657),
 (107, 0.08948747402853657),
 (170, 0.08948747402853657),
 (467, 0.08948747402853657),
 (2005, 0.08948747402853657),
 (812, 0.08867021970429453),
 (2498, 0.08867021970429453),
 (2968, 0.08867021970429453),
 (1, 0.0885807893036239),
 (88, 0.0885807893036239),
 (96, 0.0885807893036239),
 (121, 0.0885807893036239),
 (245, 0.0885807893036239),
 (356, 0.0885807893036239),
 (894, 0.0885807893036239),
 (937, 0.0885807893036239),
 (1269, 0.0885807893036239),
 (2167, 0.0885807893036239),
 (3301, 0.0885807893036239),
 (381, 0.08787495503274936),
 (1878, 0.08787495503274936),
 (2274, 0.08787495503274936),
 (2880, 0.08787495503274936),
 (3154, 0.08787495503274936),
 (4737, 0.08787495503274936),
 (2386, 0.0876249546540977),
 (203, 0.08718572905786445),
 (547, 0.08718572905786445),
 (786, 0.08718572905786445),
 (814, 0.08718572905786445),
 (1473, 0.08718572905786445),
 (2247, 0.08718572905786445),
 (2251, 0.08718572905786445),
 (3091, 0.08718572905786445),
 (4259, 0.08718572905786445),
 (4657, 0.08718572905786445),
 (222, 0.08710071126186844),
 (654, 0.08710071126186844),
 (103, 0.0863465783552691),
 (230, 0.0863465783552691),
 (491, 0.0863465783552691),
 (1282, 0.0863465783552691),
 (3441, 0.0863465783552691),
 (39, 0.08585457105482137),
 (86, 0.08585457105482137),
 (101, 0.08585457105482137),
 (257, 0.08585457105482137),
 (457, 0.08585457105482137),
 (899, 0.08585457105482137),
 (1113, 0.08585457105482137),
 (1142, 0.08585457105482137),
 (1207, 0.08585457105482137),
 (2304, 0.08585457105482137),
 (2794, 0.08585457105482137),
 (3910, 0.08585457105482137),
 (193, 0.08561170049453902),
 (501, 0.08561170049453902),
 (1828, 0.08561170049453902),
 (19, 0.08489527199560176),
 (534, 0.08489527199560176),
 (1139, 0.08489527199560176),
 (1405, 0.08489527199560176),
 (2165, 0.08489527199560176),
 (2250, 0.08489527199560176),
 (3069, 0.08489527199560176),
 (4165, 0.08489527199560176),
 (4492, 0.08489527199560176),
 (4718, 0.08489527199560176),
 (70, 0.08458258116519013),
 (634, 0.08458258116519013),
 (746, 0.08458258116519013),
 (1401, 0.08458258116519013),
 (3140, 0.08458258116519013),
 (3235, 0.08458258116519013),
 (3310, 0.08458258116519013),
 (3423, 0.08458258116519013),
 (153, 0.08419653359482289),
 (1926, 0.08419653359482289),
 (1534, 0.08419653359482288),
 (51, 0.08351476906593233),
 (572, 0.08351476906593233),
 (1639, 0.08351476906593233),
 (1898, 0.08351476906593233),
 (2203, 0.08351476906593233),
 (37, 0.08336550215650926),
 (98, 0.08336550215650926),
 (207, 0.08336550215650926),
 (472, 0.08336550215650926),
 (787, 0.08336550215650926),
 (885, 0.08336550215650926),
 (1161, 0.08336550215650926),
 (2644, 0.08336550215650926),
 (3028, 0.08336550215650926),
 (3389, 0.08336550215650926),
 (63, 0.08284930213349333),
 (3431, 0.08284930213349333),
 (241, 0.08219949365267865),
 (329, 0.08219949365267865),
 (752, 0.08219949365267865),
 (776, 0.08219949365267865),
 (1289, 0.08219949365267865),
 (1614, 0.08219949365267865),
 (1621, 0.08219949365267865),
 (1655, 0.08219949365267865),
 (1664, 0.08219949365267865),
 (2789, 0.08219949365267865),
 (2801, 0.08219949365267865),
 (3253, 0.08219949365267865),
 (3355, 0.08219949365267865),
 (3470, 0.08219949365267865),
 (3527, 0.08219949365267865),
 (4431, 0.08219949365267865),
 (4473, 0.08219949365267865),
 (4568, 0.08219949365267865),
 (4641, 0.08219949365267865),
 (190, 0.08156473902861858),
 (2099, 0.08156473902861856),
 (71, 0.08108108108108109),
 (82, 0.08108108108108109),
 (138, 0.08108108108108109),
 (223, 0.08108108108108109),
 (503, 0.08108108108108109),
 (987, 0.08108108108108109),
 (2253, 0.08108108108108109),
 (2683, 0.08108108108108109),
 (2820, 0.08108108108108109),
 (2763, 0.08094446585163528),
 (11, 0.08000711205939975),
 (16, 0.08000711205939975),
 (254, 0.08000711205939975),
 (365, 0.08000711205939975),
 (471, 0.08000711205939975),
 (680, 0.08000711205939975),
 (1367, 0.08000711205939975),
 (1560, 0.08000711205939975),
 (1765, 0.08000711205939975),
 (4055, 0.08000711205939975),
 (62, 0.07974522228289),
 (189, 0.07974522228289),
 (205, 0.07974522228289),
 (256, 0.07974522228289),
 (850, 0.07974522228289),
 (1045, 0.07974522228289),
 (1323, 0.07974522228289),
 (2326, 0.07974522228289),
 (2712, 0.07974522228289),
 (2882, 0.07974522228289),
 (3155, 0.07974522228289),
 (3430, 0.07974522228289),
 (4061, 0.07974522228289),
 (632, 0.07897471897389846),
 (737, 0.07897471897389846),
 (1290, 0.07897471897389846),
 (2021, 0.07897471897389846),
 (3206, 0.07897471897389846),
 (3701, 0.07897471897389846),
 (4451, 0.07897471897389846),
 (274, 0.07837414205275961),
 (59, 0.07804228110385686),
 (271, 0.07798128673650545),
 (587, 0.07798128673650545),
 (2163, 0.07798128673650545),
 (2592, 0.07798128673650545),
 (2916, 0.07798128673650545),
 (4640, 0.07798128673650545),
 (125, 0.07767122075015),
 (229, 0.07749842582921286),
 (313, 0.07749842582921286),
 (800, 0.07749842582921286),
 (1288, 0.07749842582921286),
 (1348, 0.07749842582921286),
 (1521, 0.07749842582921286),
 (2161, 0.07749842582921286),
 (2317, 0.07749842582921286),
 (2381, 0.07749842582921286),
 (2410, 0.07749842582921286),
 (2551, 0.07749842582921286),
 (2659, 0.07749842582921286),
 (3832, 0.07749842582921286),
 (3994, 0.07749842582921286),
 (4412, 0.07749842582921286),
 (908, 0.07702442489446452),
 (1175, 0.07702442489446452),
 (2354, 0.07702442489446452),
 (2395, 0.07702442489446452),
 (2831, 0.07702442489446452),
 (3022, 0.07702442489446452),
 (4083, 0.07702442489446452),
 (76, 0.07610194341477616),
 (79, 0.07610194341477616),
 (543, 0.07610194341477616),
 (591, 0.07610194341477616),
 (732, 0.07610194341477616),
 (1325, 0.07610194341477616),
 (2241, 0.07610194341477616),
 (2363, 0.07610194341477616),
 (4123, 0.07610194341477616),
 (55, 0.0759326396601999),
 (109, 0.07543142864047142),
 (179, 0.07543142864047142),
 (200, 0.07543142864047142),
 (570, 0.07543142864047142),
 (1005, 0.07543142864047142),
 (1769, 0.07543142864047142),
 (2136, 0.07543142864047142),
 (2212, 0.07543142864047142),
 (2698, 0.07543142864047142),
 (2787, 0.07543142864047142),
 (3072, 0.07543142864047142),
 (3241, 0.07543142864047142),
 (3982, 0.07543142864047142),
 (9, 0.07521183158458504),
 (212, 0.07521183158458504),
 (674, 0.07521183158458504),
 (784, 0.07521183158458504),
 (1623, 0.07521183158458504),
 (1883, 0.07521183158458504),
 (2052, 0.07521183158458504),
 (2701, 0.07521183158458504),
 (3188, 0.07521183158458504),
 (488, 0.074458079104994),
 (419, 0.07435223956449145),
 (536, 0.07435223956449145),
 (635, 0.07435223956449145),
 (782, 0.07435223956449145),
 (979, 0.07435223956449145),
 (1446, 0.07435223956449145),
 (1632, 0.07435223956449145),
 (3390, 0.07435223956449145),
 (3907, 0.07435223956449145),
 (665, 0.07352146220938079),
 (728, 0.07352146220938079),
 (827, 0.07352146220938079),
 (1168, 0.07352146220938079),
 (2650, 0.07352146220938079),
 (1262, 0.07352146220938077),
 (1292, 0.07352146220938077),
 (1737, 0.07352146220938077),
 (1770, 0.07352146220938077),
 (1774, 0.07352146220938077),
 (2114, 0.07352146220938077),
 (2533, 0.07352146220938077),
 (3398, 0.07352146220938077),
 (4006, 0.07352146220938077),
 (4099, 0.07352146220938077),
 (4403, 0.07352146220938077),
 (4443, 0.07352146220938077),
 (97, 0.07271792483455794),
 (997, 0.07271792483455794),
 (1018, 0.07271792483455794),
 (1146, 0.07271792483455794),
 (1445, 0.07271792483455794),
 (1701, 0.07271792483455794),
 (1996, 0.07271792483455794),
 (2056, 0.07271792483455794),
 (3822, 0.07271792483455794),
 (183, 0.07261932421315971),
 (30, 0.07194017065667525),
 (704, 0.07194017065667525),
 (1340, 0.07194017065667525),
 (2018, 0.07194017065667525),
 (2320, 0.07194017065667525),
 (100, 0.07174960033341753),
 (267, 0.07174960033341753),
 (336, 0.07174960033341753),
 (1166, 0.07174960033341753),
 (1466, 0.07174960033341753),
 (3671, 0.07174960033341753),
 (3976, 0.07174960033341753),
 (1990, 0.0713262951621492),
 (215, 0.07118684968143743),

In [69]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [75]:
recommend('Titanic')

Raise the Titanic
Captain Phillips
The Notebook
In the Heart of the Sea
Ghost Ship

In [66]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [77]:
import pickle

In [78]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [79]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [80]:
pickle.dump(similarity, open('similarity.pkl','wb'))